/* font-family: 'Poppins', sans-serif; -Heading (400, 600)  */
/* font-family: 'Open Sans', sans-serif; -paragraph (400) */

body {
  background-color: hsl(257, 40%, 49%);
  background-image: url("./images/bg-desktop.svg");
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 100px auto 50px;
  width: 90%;
}

.navbar {
  display: flex;
}


.hero-img {
  justify-content: center;
}

.hero-description {
  justify-content: center;
  padding: 40px;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  color: white;
}

p {
  font-family: "Open Sans", sans-serif;
  color: white;
}

.btn {
  justify-content: center;
}

button {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  color: hsl(257, 40%, 49%);
  border: none;
  padding: 2% 15%;
  margin: 2% 0 0;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  box-shadow: 0 5px 15px 4px hsl(0, 0%, 29%);
}

button:hover {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  background-color: hsl(300, 69%, 71%);
  color: white;
}

a {
  color: white;
}

.socials {
  font-size: 25px;
  color: white;
  position: absolute;
  right: 80px;
  bottom: 7px;
}

i {
  color: white;
  font-size: 25px;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 5px;
  margin-right: 10px;
  border: 1px solid white;
  border-radius: 50%;
}

i:hover {
  color: hsl(300, 69%, 71%);
  border: 1px solid hsl(300, 69%, 71%);
}

/* Media Rule */
